.badge {
    vertical-align: middle;
    padding: 7px 12px;
    font-weight: 600;
    color: #fff;
    letter-spacing: .3px;
    /* border-radius: 30px; */
    font-size: 12px;
}

.bg-info {
    background-color: #3abaf4 !important;
}

.obf-cover {
    object-fit: cover;
}

.avatar-mini {
    width: 28px;
    height: 28px;
    border: 2px solid rgb(209, 209, 209);
    padding: 2px;
}