.obf-cover {
    object-fit: cover;
}

.product-show-img {
    width: 100%;
    height: 324px;
}

.product-img {
    width: 100%;
    height: 200px;
}

.product-upload-img {
    width: 100%;
    height: 100%;
}

.img-col{
    width: 5rem;
}