.obf-cover {
    object-fit: cover;
}

.product-show-img {
    width: 100%;
    height: 324px;
}

.product-delete-img {
    width: 150px !important;
    height: 150px;
}

.product-upload-img {
    width: 100%;
    height: 100%;
}

.img-col {
    width: 5rem;
}

.product-detail-img {
    width: 100%;
    height: 465px;
    object-fit: cover;
}

.btn-style-1 {
    background-color: #000000;
    border: medium none;
    color: #fff;
    line-height: 1;
    padding: 8px 16px;
    cursor: pointer;
    /* -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s; */
}

.btn-style-1 button:hover {
    background-color: #ff2f2f;
}

#full-stars .rating-group {
    display: inline-flex;
}

#full-stars .rating__icon {
    pointer-events: none;
}

#full-stars .rating__input {
    position: absolute !important;
    left: -9999px !important;
}

#full-stars .rating__input--none {
    display: none;
}

#full-stars .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 1.5rem;
}

#full-stars .rating__icon--star {
    color: orange;
}

#full-stars .rating__input:checked~.rating__label .rating__icon--star {
    color: #ddd;
}

#full-stars .rating-group:hover .rating__label .rating__icon--star {
    color: orange;
}

#full-stars .rating__input:hover~.rating__label .rating__icon--star {
    color: #ddd;
}